:root {
    --size: 150px;
    --prpl: rgb(143, 77, 223);
    --blk1: #1b1b1b;
    --blk2: #383838;
    --main-blk: #0f0f0f;
    --w: #e0e0e0;
    --w2: #ffffff;
}

body,
p,
span,
button {
    font-family: monospace;
}



body {
    background-color: var(--w);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body.dark {
    background-color: var(--main-blk);
}

.container2 {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: end;
    width: 390px;
}

body.dark .circle {
    height: var(--size);
    border-radius: 50%;
    width: var(--size);
    top: 0px;
    right: 0px;
    background-color: var(--prpl);
    box-shadow: 0px 0px 10px #000;
    color: var(--prpl);
}

body.dark .circle:hover {
    transform: scale(1.2);
    z-index: 2;
    transition: 0.7s;
    color: #000;
}


.container {
    background-color: var(--w2);
    margin-top: 70px;
    position: relative;
    height: 80vh;
    border-radius: 15px;
    width: 240px;
    box-shadow: 0px 0px 5px var(--w2);
    display: grid;
    grid-template-rows: 4fr 7fr;
}


body.dark .container {
    background-color: var(--blk1);
    box-shadow: 0px 0px 5px var(--blk2);

}

.result,
body.dark .action {
    background-color: var(--blk1);
}

.action {
    background-color: var(--w2);
}

.result {
    border-radius: 15px;
    direction: rtl;
    position: relative;
    font-weight: bold;
    border-bottom: 8px solid var(--w);
}

body.dark .result {
    border-bottom: 8px solid var(--main-blk);
}


.action {
    border-radius: 0px 0px 15px 15px;
    margin-top: 10px;
}

.result p {
    color: var(--w);
    font-size: 30px;
    margin: 0px 10px;
    margin-top: 90px;
}

.result span {
    color: var(--prpl);
    margin: 0px 10px;
    position: absolute;
    top: 80px;
    font-size: 11px;
    font-style: italic;
}


.action {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
    gap: 10px;
}

.btn {
    background-color: var(--w2);
    box-shadow: 2px 2px 5px var(--w2), -2px -2px 10px #383838;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-blk);
    font-size: x-large;
    width: 46px;
    text-align: center;
    padding: 0px;
}

body.dark .btn {
    background-color: var(--blk1);
    box-shadow: 2px 2px 5px var(--main-blk), 2px 2px 5px var(--main-blk), -2px -2px 5px #383838;
    color: var(--w);
}

.btn:hover {
    background-color: var(--w);
    box-shadow: none;
}

body.dark .btn:hover {
    background-color: var(--main-blk);
    box-shadow: none;
}


body.dark .equal,
.equal {

    background-color: var(--prpl);
    border: none;
    color: var(--w2);
}

sup {
    font-size: large;
}

body.dark .equal:hover,
.equal:hover {
    background-color: var(--prpl);
    opacity: 0.8;
}

.x {
    padding-top: 5px;
}

.sp-text {
    color: #5c5c5c;
}





.box_3 {
    position: absolute;
    left: 80px;
    top: 0px;
}

.toggle_switch {
    width: 100px;
    height: 45px;
    position: relative;
    border: 3px solid var(--prpl);
    border-radius: 50px;
}

input[type="checkbox"].switch_3 {
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: 0;
    z-index: 1;
}




input[type="checkbox"].switch_3:checked+svg.checkbox .is_checked {
    opacity: 1;
    transform: translateX(0);
}

input[type="checkbox"].switch_3:checked+svg.checkbox .is_unchecked {
    opacity: 0;
    transform: translateX(-200%);
    stroke: var(--prpl);
}


svg.checkbox .is_checked {
    opacity: 0;
    fill: yellow;
    transform: translateX(100%);
    transition: all .35s;
}

svg.checkbox .is_unchecked {
    opacity: 1;
    fill: var(--w);
    transition: all .35s;
    transform: translateX(0%);
}